<h1>Каталог музыкальных инструментов</h1>
<div class="container d-flex justify-content-center align-items-center max-height">
	<div class="catalog-loader">
		{{> loaders/page-loader}}
	</div>
	<div class="catalog-app-root"></div>
</div>