<h1>Каталог музыкальных инструментов</h1>
<div class="p-0 container d-flex justify-content-center align-items-center max-height">
	<div class="catalog-loader">
		{{> loaders/page-loader}}
	</div>
	<div id="app" class="catalog-root"></div>
	<script src='/javascripts/catalog-app.js'></script>
</div>